

#button-el{

background-color: red;
font-size: 80px;

}

body{

    background-color: green;
    background-image: url;
    
}

.main{

    text-align: center;
}

#counts{

    font-size: 100px;

}

.headings{

    font-size: 100px;
    color: blueviolet;
}

#button2{

    font-size: 80px;
    background-color: aqua;
}